<h2>update your profile here</h2>

<form method="post">
<h3>First Name</h3>
<input id="firstName" name="firstName"></input>
</div>
<div>
<h3>Last Name</h3>
<input id="lastName" name="lastName"></input>
</div>
<div>
<h3>E-Mail</h3>
<input id="email" name="email"></input>
</div> 
<div>
<h3>Password</h3>
<input id="password" name="password"></input>
</div>
<div>
<h3>Age</h3>
<input id="age" name="age"></input>
</div> 
<div>
<h3>City</h3>
<input id="city" name="city"></input>
</div> 
<div>
<h3>Homepage</h3>
<input id="homepage" name="homepage"></input>
</div> 
<div>
<button id="sign-up">update</button>
</div>
