<header>
    <h1>Sign the petition for free menstrual products in all SPICED Academy bathrooms!</h1>
</header>

<div class="flex-container">
    <div class="flex-item1">
     <img id="login-img" src="/pad.png" />
</div>
<div class="flex-item2">

<label><h2>Welcome Back! Log in:</h2></label>
<form method="post"/>
    <input placeholder="Email" type="email" name="email">
    <input placeholder="password" type="password" name="password">
    <button id="login" name="login">log in</button>
</form>
</div>
</div>