<header>
    <div class="header-content">
        <h3>Sign the petition for free menstrual products in all SPICED Academy bathrooms!</a></h3>
    </div>
</header>

<div class="login-page">
<div class="login-body">
<h2>Hey! Happy to see you!</h2>

<form method="post"/>
    <input placeholder="Email" type="email" name="email"/>
    <input placeholder="password" type="password" name="password" />
    <button id="login" name="login">log in</button>
</form>
</div>
</div>