<h2>I am the petition template</h2>

<form method="post">
<div>
<h3>First Name</h3>
<input name="first"></input>
</div>
<div>
<h3>Last Name</h3>
<input name="last"></input>
</div>
<div>
<h3>signature</h3>
<input name="signature"></input>
</div>

<button id="#submit">SUBMIT</button>
</form>