<h2>I am the petition template</h2>

<form method="post">
<div>
<h3>First Name</h3>
<input name="first"></input>
</div>
<div>
<h3>Last Name</h3>
<input name="last"></input>
</div>
<div>
<h3>signature</h3>
<input name="signature" id="signature"></input>
<h1>signature please</h1>
<canvas id="mySign" width="560" height="360"></canvas>
</div>
<button id="#submit">SUBMIT</button>
</form>
<script src="/canvas.js"></script>