<header>
    <div class="header-content">
        <h3>Sign the petition for free menstrual products in all SPICED Academy bathrooms!</a></h3>
    </div>
</header>
<div class="petition-page">
<div class="petition-body">
<form method="post">
<div class="container-text">
<div>
<h3>You're interested in research? Read here why menstrual products should be freely-accessible in bathrooms and much more! <a href="https://www.freethetampons.org/"> HERE</a></h3>    
<input type="hidden" name="signature" id="signature"></input>
<h1>SIGN HERE:</h1>
<canvas id="mySign" width="560" height="360"></canvas>
</div>
<button id="#submit">SUBMIT</button>
</div>
</form>
</div>
<script src="/canvas.js"></script>
</div>
</div>