<header>
        <h1>Free menstrual products at SPICED Academy!</h1>
</header>

<div class="flex-wrapper" id="profile">
<div class="box1">
<h2>here we want to know more about you:</h2>
</div>
<div class="box2">

<form method="post">

<input placeholder="Age" type="number" min="0" id="age" name="age"></input>
<input placeholder="City" type="text" id="city" name="city"></input>
<input type="url" id="homepage" name="url" placeholder="https://your-website.com"></input>

<button id="sign-up">continue</button>
</form>
</div>
</div>

