<header>
    <div class="header-content">
        <h3>Free menstrual products at SPICED Academy!</h3>
    </div>
</header>

<div class="profile-page">
<div class="profile-body">
<h2>here we want to know more about you</h2>

<form method="post">

<input placeholder="Age" type="number" min="0" id="age" name="age"></input>
<input placeholder="City" type="text" id="city" name="city"></input>
<input type="url" id="homepage" name="url" placeholder="https://your-website.com"></input>

<button id="sign-up">continue</button>
</form>

</div>
</div>