<h2>here we want to know more about you</h2>

<form method="post">
<div>
<h3>Age</h3>
<input type="number" min="0" id="age" name="age"></input>
</div> 
<div>
<h3>City</h3>
<input type="text" id="city" name="city"></input>
</div> 
<div>
<h3>Profile url</h3>
<input type="url" id="homepage" name="url" placeholder="https://your-website.com"></input>
</div> 
<div>
<button id="sign-up">continue</button>
</div>



</form>