<header>
    <div class="header-content"><h3>Register now! Sign the petition for free menstrual products at SPICED Academy</h3></div>
    </header>   

<div>
<div class="split left">
<div class="left-inhalt">

<img id="register-img" src="/gender.png"/>

</div>


<div class="split right"> 
 
<div class="right-inhalt">
<form method="post">



<input placeholder="First Name" id="first" name="first" type="text" required="">


<input  placeholder="Last Name" id="lastName" name="last" type="text" required="">


<input placeholder="E-Mail" type="email" id="email" name="email" required="">


<input placeholder="Password" type="password" id="password" name="password" required="">


<button id="register">Register</button>

</form>
<div class="card-login">
<h2>Already registered?<a href="/login"> log in here</a>.</h2>
</div>
</div>
</div>

<footer><p>2022 Chantal Buerger | Art by Isa Idun, Crafts and Cramps</p></footer>
</div>

