<header>
    <div class="header-content"><h3>Register now! Sign the petition for free menstrual products at SPICED Academy</h3></div>
    </header>   

<div>
<div class="split left">
<div class="left-inhalt">
<img id="register-img" src="/gender.png"/>
</div>


<div class="split right"> 
 
<div class="right-inhalt">
<form method="post">



<input placeholder="First Name" id="firstName" name="firstName" type="text" required=""></input>


<input  placeholder="Last Name" id="lastName" name="lastName" type="text" required=""></input>


<input placeholder="E-Mail" type="email" id="email" name="email" required=""></input>


<input placeholder="Password" type="password" id="password" name="password" required=""></input>

<div>
<button id="register">Register</button>
</div>
</form>
<div class="card-login">
<h2>Already registered?<a href="/login"> log in here</a>.</h2>
</div>
</div>
</div>

<footer><p>2022 Chantal M. Bürger, Crafts and Cramps</p></footer>
</div>

