<h2>register here</h2>
<form method="post">
<h3>First Name</h3>
<input id="firstName" name="firstName"></input>
</div>
<div>
<h3>Last Name</h3>
<input id="lastName" name="lastName"></input>
</div>
<div>
<h3>E-Mail</h3>
<input type="email" id="email" name="email"></input>
</div> 
<div>
<h3>Password</h3>
<input type="password" id="password" name="password"></input>
</div>
<div>
<button id="sign-up">sign up</button>
</div>
</form>
<h2>already signed up? please <a href="/login"> login</a>.</h2>