<header>
    <div class="header-content"><h3>Register now! Sign the petition for free
            menstrual products at SPICED Academy</h3></div>
</header>
<div class="flexbox">
    <div class="flex-item1">
        <img id="register-img" src="/gender.png" />
    </div>
    <div class="flex-item2">
<form method="post">
        <input
            placeholder="First Name"
            id="first"
            name="first"
            type="text"
            required=""
        />

        <input
            placeholder="Last Name"
            id="lastName"
            name="last"
            type="text"
            required=""
        />

        <input
            placeholder="E-Mail"
            type="email"
            id="email"
            name="email"
            required=""
        />

        <input
            placeholder="Password"
            type="password"
            id="password"
            name="password"
            required=""
        />
        <button id="register">Register</button>
        </from>
    </div>
</div>