<h2>heres everyone that signed</h2>

<section id="user-signers">

    <ul id="user">
        {{#user}}
            <li class="user">
                <h2>{{first}} {{last}}</h2>
            </li>
        {{/user}}
    </ul>

</section>