<h2>thank you for signing</h2>

{{#data}}
    <img src="{{url}}" alt="signature" />
{{/data}}

<h2>ich will zählen</h2>

<h2>{{numSign}}</h2>

<a href="/signers">see everyone that signed</a>