<header>
    <div class="header-content"><h3>**insert inspiring qoute here**</h3></div>
</header>

<div class="thanks-page">
    <div class="thanks-body">

        {{#data}}
            <img id="img-signature" src="{{url}}" alt="signature" />

            <h2>Thank you for signing</h2>

            <h2>You and {{numSign}} People have signed!</h2>
        {{/data}}
        <a href="/signers">See everyone that signed...</a>
        <form method="post">
            <button id="delete-signature" type="submit">delete signature</button>
        </form>
    </div>

</div>